PORT=3015
FRONTEND_ORIGIN=http://localhost:4180
PUBLIC_BASE_URL=
BRADIAL_BASE_URL=https://api.bradial.com.br
BRADIAL_ACCOUNT_ID=6008
BRADIAL_API_TOKEN=
BRADIAL_INBOX_ID=15170
BRADIAL_CHAT_BASE_URL=https://chat.bradial.com.br
BRADIAL_CHAT_ACCOUNT_ID=6008
BRADIAL_CHAT_API_TOKEN=
BRADIAL_CHAT_INBOX_ID=15171
BRADIAL_OPPORTUNITY_LABEL=OPORTUNIDADE
BRADIAL_MAX_PAGES=2
BRADIAL_REFRESH_MS=60000
BRADIAL_REQUEST_MAX_ATTEMPTS=3
BRADIAL_REQUEST_RETRY_BASE_MS=150
BRADIAL_CONVERSATION_SEARCH_PAGES=8
BRADIAL_LABEL_VERIFY_ATTEMPTS=2
BRADIAL_LABEL_VERIFY_DELAY_MS=75
CLICKUP_API_KEY=
CLICKUP_WORKSPACE_ID=
CLICKUP_WORKSPACE_NAME=alem da ideia
CLICKUP_COMMERCIAL_SPACE_NAME=comercial
CLICKUP_COMMERCIAL_FOLDER_NAME=area de vendas
CLICKUP_COMMERCIAL_LIST_NAME=
CLICKUP_STAGE_LABEL_MAP=
CLICKUP_MAX_LIST_PAGES=4
CLICKUP_WEBHOOK_SECRET=
CLICKUP_INTEGRATIONS_PATH=
CLICKUP_BACKUP_CLIENT_NAME=Stev
CLICKUP_CLIENTS_BACKUP_PATH=
SYNC_CONCURRENCY=6
SYNC_RETRY_BASE_MS=1500
DEFERRED_REFRESH_MS=150
