PORT=3015
FRONTEND_ORIGIN=http://localhost:4180
BRADIAL_BASE_URL=https://api.bradial.com.br
BRADIAL_ACCOUNT_ID=6008
BRADIAL_API_TOKEN=
BRADIAL_INBOX_ID=15170
BRADIAL_OPPORTUNITY_LABEL=OPORTUNIDADE
BRADIAL_MAX_PAGES=2
BRADIAL_REFRESH_MS=60000
CLICKUP_API_KEY=
CLICKUP_WORKSPACE_ID=
CLICKUP_WORKSPACE_NAME=alem da ideia
CLICKUP_COMMERCIAL_SPACE_NAME=comercial
CLICKUP_COMMERCIAL_FOLDER_NAME=area de vendas
CLICKUP_COMMERCIAL_LIST_NAME=
CLICKUP_MAX_LIST_PAGES=4
CLICKUP_WEBHOOK_SECRET=
CLICKUP_BACKUP_CLIENT_NAME=Stev
CLICKUP_CLIENTS_BACKUP_PATH=
